<style>
    h1,h2{
        text-align: center;
        font-size: 35px;
    }
</style>

<h1>Hola </h1>
<h2>Bienvenido a mi Proyecto Angular</h2>

<style>
    .container{
        text-align: center;
        width: auto;
    }


    .navbar-nav{
        text-align: center;
        background-color: yellow;

    }

    
    a{
        color: black;
        text-align: center;
    }

    h1{
        text-align: center;

    }

    

</style>



<div class="contenedor">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">


            <div class="collapse navbar-collapse">

                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/src/app/inicio/inicio.component.html" class="nav-link">Inicio </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/src/app/contactanos/contactanos.component.html" class="nav-link">Contactanos </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/src/app/registro/registro.component.html" class="nav-link">Resgistro </a>
                    </li>
                </ul>
            
            </div>

        </div>
    </nav>

</div>


<router-outlet />
