<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabeza</title>
</head>
<body>
    
    <style>
        .container{
            text-align: center;
            width: auto;
        }


        .navbar-nav{
            text-align: center;
            background-color: yellow;
    
        }

        
        a{
            color: black;
            text-align: center;
        }

        h1{
            text-align: center;

        }

    </style>

    

    <div class="contenedor">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container">
    
    
                <div class="collapse navbar-collapse">
    
                    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/src/app/contactanos/contactanos.component.html" class="nav-link">Contactenos </a>
                        </li>
                    </ul>
    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/src/app/registro/registro.component.html" class="nav-link">Registro </a>
                        </li>
                    </ul>
    
                
                </div>
    
            </div>
        </nav>

    </div>
    
    <h1>Inicio</h1>

</body>
</html>
